.add-category-button {
    padding: 10px;
    margin-left: 20px;
    background-color: var(--theme-color, var(--default-theme-color));
    border: 0px;
    color: #fff;
}

.cancel-add-category-button {
    padding: 10px;
    border: 0px;
}


.confirm-add-category-button {
    padding: 10px;
    margin-left: 20px;
    background-color: var(--theme-color, var(--default-theme-color));
    border: 0px;
    color: #fff;
}